<div>
    <form action="" method="post">
        <div class="uk-margin">
            <div class="uk-inline order">
                <label for="sort">Ordenar por precio</label>
                <input id="sort" name="sort" class="uk-input uk-border-rounded" type="text" placeholder="asc o desc">
            </div>
        </div>
        <button class="uk-button uk-button-default uk-border-rounded boton">Enviar</button>
    </form>
</div>

<div class="uk-padding-large uk-child-width-1-1" uk-grid style="color: black; font-weight: bold">
    {{#if pageInfo.hasPrevPage}}
        <a href="{{pageInfo.prevLink}}" style="color: blue;"> ← Anterior </a>
    {{/if}}
    &nbsp;
    {{pageInfo.page}}
    &nbsp;
    {{#if pageInfo.hasNextPage}}
        <a href="{{pageInfo.nextLink}}" style="color: blue;"> → Siguiente</a>
    {{/if}}
</div>

<div class="uk-child-width-1-4@m" uk-grid id="list-products">
    {{#each products}}
        <div id="{{this.id}}">
            <div class="uk-card uk-card-default uk-card-hover uk-border-rounded" style="height: 580px">
                <div class="uk-card-media-top uk-flex uk-flex-center" style="height: 200px;">
                    <img alt="foto producto" src={{this.thumbnail}} />
                </div>
                <div class="uk-card-body" style="height: 400px; text-align: center;">
                    <h3 class="uk-card-title" style="font-weight: bold;">{{ this.title }}</h3>
                    <h5>${{this.price}}</h5>
                    <p>{{this.description}}</p>
                    <p>Stock: {{this.stock}} unidades</p>
                    <p><span class="uk-badge" style="padding: 10px;">{{this.category}}</span></p>
                    {{#if this.stock}}
                    {{#if ../user.isPublic}}
                        <button onclick="addToCart(`{{../idCart}},{{this.id}}`)" class="uk-button uk-button-secondary uk-button-small uk-border-rounded boton" >Agregar al carrito</button>
                    {{/if}}
                    {{/if}}
                    {{#if ../user.isAdmin}}
                        <button onclick="deleteProductAdmin(`{{this.id}}`)" class="uk-button uk-button-secondary uk-button-small uk-border-rounded botonX">Eliminar Producto</button>
                        <a href="/admin/editarProducto">
                            <button class="uk-button uk-button-secondary uk-button-small uk-border-rounded botonE">Editar Producto</button>
                        </a>
                    {{/if}}
                    {{#if ../user.isPremium}}
                        <button onclick="addToCart(`{{../idCart}},{{this.id}}`)" class="uk-button uk-button-secondary uk-button-small uk-border-rounded boton" >Agregar al carrito</button>
                    {{/if}}
                </div>
            </div>
        </div>
    {{/each}}
</div>