<div class="uk-padding-large uk-child-width-1-1" uk-grid>
    {{#if pageInfo.hasPrevPage}}
        <a href="{{pageInfo.prevLink}}"> ← Anterior </a>
    {{/if}}
    &nbsp;
    {{pageInfo.page}}
    &nbsp;
        {{#if pageInfo.hasNextPage}}
            <a href="{{pageInfo.nextLink}}"> → Siguiente</a>
        {{/if}}
</div>

<div class="uk-child-width-1-4@m" uk-grid id="list-products">
    {{#each products}}
        <div id="{{this.id}}">
            <div class="uk-card uk-card-default uk-card-hover uk-border-rounded" style="height: 550px;">
                <div class="uk-card-media-top uk-flex uk-flex-center" style="height: 200px;">
                    <img alt="foto producto" src={{this.thumbnail}} />
                </div>
                <div class="uk-card-body" style="height: 400px; text-align: center;">
                    <h3 class="uk-card-title">{{ this.title }}</h3>
                    <h5>${{this.price}}</h5>
                    <p>{{this.description}}</p>
                    <p>{{this.stock}}</p>
                    <p> {{this.category}} </p>
                    <button class="uk-button uk-button-secondary uk-button-small uk-border-rounded">Agregar al carrito</button>
                </div>
            </div>
        </div>
    {{/each}}
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/realtimeproducts.js"></script>